---
const today = new Date();
---

<footer class='container mt-8'>

	<div class='flex justify-center'>
    <div class="md:flex text-sm text-zinc-500 dark:text-zinc-300 prose dark:prose-invert justify-between">
      <div>Copyright © {today.getFullYear()} Mustafa Ozaytac.</div>
</footer>
